<html xmlns:th="http://www.thymeleaf.org">
<head>

   
<meta charset="ISO-8859-1">
<title> Registration success</title>
<style type="text/css">
span{
display:inline-block;
width:200px;
text-align:left;
}

</style>
</head>
<body>
<div align="center">

<h1>Client Registration succeess</h1>
<span>Full name</span><span th:text=${client.name}></span><br/>
<span>Email </span><span th:text=${client.email}></span><br/>
<span>Num Tel  </span><span th:text=${client.numTel}></span><br/>
</div>

</body>
</html>