<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script th:src="@{/js/jquery-1.6.2.min.js}" type="text/javascript"></script>
     <style>
     
body{
 background-color:#816a6a; 
   }
	.row{
	margin-left:50px
	}

  </style>
</head>
<body>
<div layout:fragment ="content">
<div class="row">
         <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Client List</h3>
                </div>
  				<div class="box-body">
		                    <div class="box-footer center">
		                        <a th:href="@{/client/add}">
		                            <button type="button" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter</button>
		                        </a>
<!-- 		                        <a th:href="@{'/client/findByName/'+ ${param.search}}"> -->
<!-- 		                        <input type="search" th:value="${param.search}" name='search' placeholder="search" >  -->
										<!--                                 <a href="#" class="btn btn-danger btn-xs purple deleteView" title="rechercher" th:href="@{'/client/findByName/'+${param.search}"><i class="fa fa-trash-o"></i> rechercher</a> -->
<!-- 								 </a> -->


							  <form th:action="@{'/client/findByName'}" method="get">
							      <input id="txtSearch" type="search" name="search" placeholder="search" aria-controls="example1">
							  <button type="submit">Search</button>
							  </form> 

		                   	</div> 
		 				 
		
					<div th:if="${param.success}">
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            Information saved successfully.
                        </div>
                    </div>
                    <div th:if="${param.deleted}">
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <h4><i class="icon fa fa-check"></i> Deleted!</h4>
                            Information deleted successfully.
                        </div>
                    </div>
						<div class="row">
                            <div class="col-sm-6">
							<table  id="example1" class="table table-bordered table-striped dataTable" role="grid">
						   <thead class="thead">
							
							<tr>
							<th>ID</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Num Tel</th>
							 <th>Actions</th>
							</tr>
							</thead>
							<tbody>
							<tr th:each="c:${pageClt.content}">
							
							<td th:utext="${c.idClient}"></td>
							<td th:utext="${c.name}"></td>
							<td th:utext="${c.email}"></td>
							<td th:utext="${c.numTel}"></td>
							 <td>
							      <a href="#" class="btn btn-primary btn-xs purple editView" title="Edit" th:href="@{'/client/edit/'+ ${c.idClient}}"><i class="fa fa-edit"></i> Edit</a>
							      <a href="#" class="btn btn-danger btn-xs purple deleteView" title="Delete" th:href="@{'/client/delete/' + ${c.idClient}}"><i class="fa fa-trash-o"></i> Delete</a>
							      <a href="#" class="btn btn-danger btn-xs purple deleteView" title="fixerRdv" th:href="@{'/rdvs/addrdvclt/' + ${c.idClient}}"><i class="fa fa-trash-o"></i> fixer Rdv</a>
							 </td>
							</tr>
							</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		
		</div>
</div>



<div class="container">
<ul class="nav nav-pills">

<li th:each="p:${pages}" class="nav-item"> 
<a  th:text="${p}" th:href="@{/client/index(page=${p})}" th:class="${p==pageCourante} ? 'nav-link active':'nav-link'" ></a>
</li>
</ul>

</div>
</div>
 <!-- <fieldset> -->
<!-- <legend> Detail Client</legend> -->
<!-- full Name<input type="text" id="fullnamn"/> -->
<!-- <br/> -->

<!-- <div id="div2"><h2>Fiche2 Client</h2></div> -->


<!-- </fieldset> -->

 <script>
      $(function () {

        $('#example1').DataTable({
          'paging'      : true,
          'lengthChange': false,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : false
        })

        jQuery('#example1_wrapper input').addClass("form-control input-sm"); // modify table search input
      })
      
      
       
       $('#fullnamn').change(function() {
  
	  	var fullnam=$('#fullnamn').val();
				alert('/api/ajax/demo4/'+fullnam);
			
			$.ajax(
			
			{
				type:'GET',
				url:'/client/findByName/'+ fullnam,
				dataType:'String',
// 				contentType:'application/json',
				
				success:function(result){
					$("#div2").append('id Client <p id=idClient'+' ' +' value ='+result.idClient+'>'+result.idClient+ '</p>');
					$("#div2").append('Nom Client <p id=name'+' ' +'value ='+result.name+'>'+result.name +'</p>');
					$("#div2").append('Email Client <p id=email'+' ' +'value ='+result.email+'>'+result.email +'</p>');
					$("#div2").append('Num tel  Client <p id=numTel'+' ' +'value ='+result.numTel+'>'+result.numTel +'</p>');
					
					
					$("#div2").append('<form    th:action="@{/registerRdv}" th:object="${rdvfixe}" method="post">code Client <p id=idClient'+' ' +'value ='+result.idClient+' th:field="*{client.idClient}">'+result.idClient +'</p>Code Prest:<input type=text id=codep th:field="*{prestation.codePrest}">	Date RDV<input type=text id=datefixe th:field="*{dateRdv}"/><input type="submit" value ="submit" id="submit"/></form>');
					
					
				},
				error:function(){
					alert('error loading detail client');
				}
			});
	});
    
	
      
      $('#fullnamn').change(function() {
  
	  	var fullnam=$('#fullnamn').val();
				alert('/api/ajax/demo4/'+fullnam);

			$.ajax(
			
			{
				type:'GET',
				url:'/api/ajax/findClientByname/'+fullnam,
				dataType:'json',
				contentType:'application/json',
				
				success:function(result){
					$("#div2").append('id Client <p id=idClient'+' ' +' value ='+result.idClient+'>'+result.idClient+ '</p>');
					$("#div2").append('Nom Client <p id=name'+' ' +'value ='+result.name+'>'+result.name +'</p>');
					$("#div2").append('Email Client <p id=email'+' ' +'value ='+result.email+'>'+result.email +'</p>');
					$("#div2").append('Num tel  Client <p id=numTel'+' ' +'value ='+result.numTel+'>'+result.numTel +'</p>');
					
					
					$("#div2").append('<form    th:action="@{/registerRdv}" th:object="${rdvfixe}" method="post">code Client <p id=idClient'+' ' +'value ='+result.idClient+' th:field="*{client.idClient}">'+result.idClient +'</p>Code Prest:<input type=text id=codep th:field="*{prestation.codePrest}">	Date RDV<input type=text id=datefixe th:field="*{dateRdv}"/><input type="submit" value ="submit" id="submit"/></form>');
					
					
				},
				error:function(){
					alert('error loading detail client');
				}
			});
	});
	
      
 </script>     
</body>
</html>